.bookmark {
  border: 0;
  float: right;
  padding: 10px;
}

#bookmark {
  font-size: 25px;
}
.bookmarked {
  color: #daa520;
}
.notbookmarked {
  color: #cac7c7;
}
.bookmarktitle{
  color:#000;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

