.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
.logo {
  height: 50px;
}

h1 {
	color: rgb(137, 137, 219);
}

#toast {
	visibility: hidden;
	max-width: 600px;
	height: 50px;
	margin: auto;

	text-align: center;
	border-radius: 5px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	top: 20px;
	font-size: 17px;
	white-space: nowrap;
}
#toast #img {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 70px;
	height: 50px;
	float: left;

	padding-top: 16px;
	padding-bottom: 16px;

	box-sizing: border-box;
}
.toastSuccess {
	background-color: #fcfff5;
	border: 1px solid #a3c293;
	color: #2c662d;
}
.toastFail {
	background-color: #fff6f6;
	border: 1px solid #e0b4b4;
	color: #9f3a38;
}

#toast #desc {
	padding: 16px;

	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 5s 3s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
.check {
	margin-left: 4px;
	font-size: 30px;
}
@-webkit-keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 70px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes expand {
	from {
		min-width: 70px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 70px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 70px;
	}
}

@-webkit-keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 60px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		top: 30px;
		opacity: 1;
	}
	to {
		top: 60px;
		opacity: 0;
	}
}

.logo {
	height: 50px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(65, 207, 172);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(117, 230, 192);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(86, 170, 196);
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.toast {
  visibility: hidden;
  max-width: 600px;
  height: 50px;
  margin: auto;
  
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 20px;
  font-size: 17px;
  white-space: nowrap;
}
.toastImg {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70px;
  height: 50px;
  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;
}
.toastDesc {
  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
  left: 0;right:0;
  top: 20px;
  font-size: 17px;
  white-space: nowrap;
  
  
  
}
.toastImg{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
 width: 70px;
 height: 50px;
  float: left;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  box-sizing: border-box; 
  
}
.toastSuccess{
  background-color:#f2ffd5 !important;
  border: 1px solid #a3c293;
  color: #2c662d;

}
.toastFail{
  background-color:#fce1e1;
  border: 1px solid #e0b4b4;
  color: #9f3a38;
  width: inherit;
  
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 5s 3s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}
.toastIcon{
  margin-left: 4px;
  font-size: 30px;
}
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 70px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 70px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 70px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 70px;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 60px;
    opacity: 0;
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}
}
