.article-title {
  font-size: 25px;
}

.single-article-title {
  font-size: 55px;
  text-align: center;
}

.card-title {
  font-weight: bolder;
}

.slug-link {
  color: #000000;
  text-decoration: none;
}

.slug-link:hover {
  text-decoration: none;
}

.author {
  font-family: Courier New;
}

.author-image {
  height: 350px;
  width: 60%;
}

.banner-title {
  font-size: 1.9rem;
}

.banner-jumbotron {
  height: 300px;
}

.banner-text {
  font-size: 1.5em;
}

.menu-dropdown-item {
  color: #000000;
}

.article-title {
  font-size: 20px;
}

.desc-body{
  text-align: -webkit-center;
}

.link-nostyle {
  color: #000000;
  text-decoration: none;

}

.link-nostyle:hover {
  text-decoration: none;
  color: #000000;
}